p { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; text-align: justify}
h1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; color: #666600}
.quote { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 14px; color: #000000}
.quoteSource { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; line-height: 12px; color: #666666}
.quoteHead { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: italic; font-weight: bold; color: #990000}
.copyright { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #999999}
.question { font-style: italic; color: #666600}
h2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold}
ol { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px}
.sidebar { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; line-height: 14px}
h3 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; color: #666600}
ul { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px}
li { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px}
.new { font-weight: bold; color: #FF0000}
.next { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold}
.parNonJust { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px}
h5 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bolder; color: #666666}
.smText { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; }
ul.clean { list-style-type: none;padding: 4px 0px;margin: 0px; }

div.quotes p { text-align: center; }

div.container-fluid {
  margin-top: 170px;
}
div.copyright {
  text-align: center;
  padding-top: 10px;
}
div.copyright ul li {
  font-size: 9px;
  line-height: 12px;
}
.userHeader {
  width:90%;margin-top:-20px;margin-bottom:20px;
}
.main-content {
  padding-bottom: 60px;
}
.main-content img {
  margin: 5px;
}
div.panel-heading {
  cursor: pointer;
}
div.navbar-fixed-top {
  background-image: url(/images/header.jpg);
  background-position: 169px 0;
  height: 93px;
}

.main-content table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}
.main-content table td {
  padding: 1px;
}
.main-content table td.top {
  vertical-align: top;
}
.main-content h1.pull-right + * {
  clear: both;
}